@import './variables.scss';

@mixin flx($j_c: center, $al_i: center) {
  display: flex;
  justify-content: $j_c;
  align-items: $al_i;
}

ion-icon {
  font-size: 30px;
}

.modal-content {
  height: calc(var(--width) - 56px) !important;
}

.tiny-icon {
  font-size: 20px;
  margin-right: 12px;
}

.center-end {
  @include flx($j_c: end);
  padding: 0;
}

.vue-map-container {
  margin: 1rem auto;
  width: 90%;
  height: 400px;
  @media (min-width: $breakpoint-tablet) {
    width: 550px;
  }
}

.export-form {
  &--fixed,
  &--centered {
    background-color: var(--ion-background-color);
    width: 270px;
    height: 58px;
  }
  &--centered {
    @include flx();

    &__cnt {
      @include flx();
      width: 100%;
      cursor: pointer;
    }

    @media (min-width: 615px) {
      height: 100%;
      width: 100%;
    }
  }
}
