@import './variables.scss';

ion-icon {
  font-size: 30px;
}

.modal-content {
  height: calc(var(--width) - 56px) !important;
}

.tiny-icon {
  font-size: 20px;
  margin-right: 12px;
}

.center-end {
  justify-content: end;
  align-items: center;
  display: flex;
  padding: 0;
}

.vue-map-container {
  margin: 1rem auto;
  width: 90%;
  height: 400px;
  @media (min-width: $breakpoint-tablet) {
    width: 550px;
  }
}
