<div class="row">
	<div class="col-md-12">
  
	  <div id="mdb-lightbox-ui"></div>
	  <div class="mdb-lightbox no-margin">
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(121).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(121).jpg"
			  class="img-fluid">
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(96).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(96).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(104).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(104).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(45).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(122).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(122).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(125).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(125).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
		<figure class="col-md-4">
		  <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(119).jpg"
			data-size="1600x1067">
			<img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(119).jpg"
			  class="img-fluid" />
			<h3 class="text-center my-3">Photo title</h3>
		  </a>
		</figure>
  
	  </div>

	  {{ page | json | console_log }}
	  <script>
		  (() => {
		  	fetch('https://api.biketag.org/portland/get/biketag/', {
				mode: 'cors',
				// credentials: 'include',
				headers: {
					'Content-Type': 'application/json'
				},
				crossDomain: true,
			  })
			  .then((r) => { return r.json()})
			  .then((latestBiketag) => {
				  console.log({latestBiketag})
			  })

		  })()
	  </script>  
	</div>
  </div>
